<h1>Admin#index</h1>
<p>Find me in app/views/admin/index.html.erb</p>
<p><%= link_to "rent_units"  , "/rent_units"  %>  </p>
<p><%= link_to "stay_units"  , "/stay_units"  %>  </p>
<p><%= link_to "infomations" , "/infomations" %>  </p>
<p><%= link_to "prefectures" , "/prefectures" %>  </p>
<p><%= link_to "cities"      , "/cities"      %>  </p>
<p><%= link_to "stations"    , "/stations"    %>  </p>
<p><%= link_to "airports"    , "/airports"    %>  </p>
<p><%= link_to "hotels"      , "/hotels"      %>  </p>
<p><%= link_to "prices"      , "/prices"      %>  </p>
<p><%= link_to "images"      , "/images"      %>  </p>
<p><%= link_to "comments"    , "/comments"    %>  </p>
<p><%= link_to "counts"      , "/counts"      %>  </p>
