<p id="notice"><%= notice %></p>

<p>
  <strong>Name1:</strong>
  <%= @city.name1 %>
</p>

<p>
  <strong>Name2:</strong>
  <%= @city.name2 %>
</p>

<p>
  <strong>Name3:</strong>
  <%= @city.name3 %>
</p>

<p>
  <strong>Prefecture:</strong>
  <%= @city.prefecture %>
</p>

<p>
  <strong>Map:</strong>
  <%= @city.map %>
</p>

<p>
  <strong>Name4:</strong>
  <%= @city.name4 %>
</p>

<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
