<% content_for(:html_title) { @hotel.name1 } %>

<p id="notice"><%= notice %></p>

<% if @hotel.images.attached? %>
<div class="row">
  <aside id="my-carousel" class="carousel slide" data-ride="carousel" data-interval="8000">
      <ol class="carousel-indicators">
          <% counter1 = 0 %>
          <% @hotel.images.each do |image| %>
            <% counter1 += 1 %>
            <li data-target="#my-carousel" data-slide-to="<% counter1 %>" class=" <%= 'active' if counter1 == 1 %>"></li>
          <% end %>
      </ol>
      <div class="carousel-inner">
          <% counter2 = 0 %>
          <% @hotel.images.each do |image| %>
            <% counter2 += 1 %>
            <div class="item <%= 'active' if counter2 == 1 %>">
              <div>
              <%= image_tag(image, :class => "big_image_outer") %>
              </div>
            </div>
          <% end %>
      </div>
      <a class="left carousel-control" href="#my-carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#my-carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
  </aside>
</div>
<% end %>

<div class="row" style="margin:15px;">
    <div class="col-sm-9 col-md-9">
      <div class="row">
          <div class="col-md-12">
            <h1><%= @hotel.name1 %></h1>
            <p>
              <span><%= @hotel.name2 %></span>
            </p>
            <p>
              <span><%= @hotel.name3 %></span>
            </p>
            <p>
              <h4><%= @hotel.about1 %></h4>
            </p>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
            <p>
              <a href="/hotels?utf8=✓&q%5Bprefecture_id_eq%5D=<%= @hotel.prefecture_id %>&commit=検索">
                <span class="tag"><%= @hotel.prefecture_name1 %></span>
              </a>
              <% if !@hotel.city_name1.blank? %>
                <a href="/hotels?utf8=✓&q%5Bcity_id_eq%5D=<%= @hotel.city_id %>&commit=検索">
                  <span class="tag"><%= @hotel.city_name1 %></span>
                </a>
              <% end %>
              <% if !@hotel.station_name1.blank? %>
                <a href="/hotels?utf8=✓&q%5Bstation_id_eq%5D=<%= @hotel.station_id %>&commit=検索">
                  <span class="tag"><i class="fas fa-train"></i><%= @hotel.station_name1 %></span>
                </a>
              <% end %>
              <% if !@hotel.airport_name1.blank? %>
                <a href="/hotels?utf8=✓&q%5Bairport_id_eq%5D=<%= @hotel.airport_id %>&commit=検索">
                  <span class="tag"><i class="fas fa-plane"></i><%= @hotel.airport_name1 %></span>
                </a>
              <% end %>
            </p>
          </div>
      </div>


      <div class="row detail_box">
          <div class="col-md-2">
            <h5>施設紹介</h5>
          </div>
          <div class="col-md-10">
            <%= @hotel.about2 %>
          </div>
      </div>
      <div class="row detail_box">
          <div class="col-md-2">
            <h5>料金プラン</h5>
          </div>
          <div class="col-md-10">
            <% @prices.each do |price| %>
              <div class="row detail_box">
                <div class="col-md-6">
                 <%= price.title %>
                </div>
                <div class="col-md-6">
                  <p class="pull-right">
                     <%= price.quantity_rent %><%= price.rent_unit_name %>
                    /<%= price.quantity_stay %><%= price.stay_unit_name %>
                   <span class="money"><%= dsp_money(1, price.money) %></span>
                 </p>
                </div>
              </div>
            <% end %>
          </div>
      </div>
      <div class="row detail_box">
          <div class="col-md-2">
            <h5>空室状況</h5>
          </div>
          <div class="col-md-10">
          </div>
      </div>

      <!--
      <div class="row detail_box">
          <div class="col-md-2">
            <h5>評価</h5>
          </div>
          <div class="col-md-10">
          </div>
      </div>
      -->
      <div class="row detail_box">
          <div class="col-md-2">
            <h5>住所</h5>
          </div>
          <div class="col-md-10">
            <h5><%= @hotel.address %></h5>
          </div>
      </div>
      <div class="row detail_box">
          <div class="col-md-2">
            <h5>マップ</h5>
          </div>
          <div class="col-md-10">
            <%= @hotel.map&.html_safe %>
          </div>
      </div>
      <div class="row detail_box">
          <div class="col-md-2">
            <h5>連絡先</h5>
          </div>
          <div class="col-md-10">
            <% if !@hotel.tel.blank? %>
              <p>電話番号<br><%= @hotel.tel %></p>
            <% end %>
            <% if !@hotel.mail.blank? %>
              <p>メールアドレス<br><%= @hotel.mail %></p>
            <% end %>
            <% if !@hotel.url.blank? %>
              <p>ホームページ<br><a href="<%= @hotel.url %>"><%= @hotel.url %></a>
            <% end %>
         </div>
      </div>
      <div class="row detail_box">
          <div class="col-md-2">
            <h5>詳細情報</h5>
          </div>
          <div class="col-md-10">
          </div>
      </div>
      <div class="row detail_box">
          <div class="col-md-2">
            <h5>みんなの評価</h5>
            <button type='button' class='btn btn-warning' style="width: 90%;margin:2px" data-target="#CommentModal" data-toggle="modal">
              評価する
            </button>
          </div>
          <div class="col-md-10">
            <% @comments.each do |comment| %>
              <div class="row detail_box">
                <div class="col-md-3" style="background-color: #f4f6f6;text-align: center;border-radius: 5px">
                   <p>
                     <%= cnv_dsp_star(comment.star)&.html_safe %>
                   </p>
                </div>
                <div class="col-md-9">
                  <strong><%= comment.name %></strong>
                  <div class="pull-right">
                     <%= time_ago_in_words comment.created_at %>
                  </div>
                  <p>
                     <%= comment.comment %>
                  </p>
                </div>
              </div>
            <% end %>
          </div>
      </div>
    </div>
    <div class="col-sm-3 col-md-3 ad_sticky">
        <%= render "layouts/ad_google" %>
    </div>
</div>

<%= render "layouts/modal_comment", hotel: @hotel %>

<div class="row">
    <div class="col-sm-9 col-md-9">
        <section>
            <h2>最近更新されたホテル</h2>
            <div class="row">
              <%= latest %>
            </div>
        </section>
    </div>
    <div class="col-sm-3 col-md-3 ad_sticky">
         <%= render "layouts/ad_google" %>
    </div>
</div>

